<template>
  <section v-if="task">
    <md-toolbar>
      <h1 class="md-title" style="flex: 1; text-align: left">{{ task.title }}</h1>
      <i :class="`task__text--${task.className}`">{{ task.status.title }}</i>
      <md-button class="task__btn" @click="showEditModal">Редактировать</md-button>
    </md-toolbar>
    <md-content class="container task__container">
      <strong>{{ task.message }}</strong>
    </md-content>
    <div v-if="error" class="error">{{ errorMes }}</div>
    <md-dialog :md-active.sync="isEditModalShow">
      <md-card class="card">
        <md-card-content>
          <md-field>
            <label>Заголовок</label>
            <md-input v-model="localTask.title">
            </md-input>
            <span class="md-error error">Введите заголовок</span>
          </md-field>
          <md-field>
            <label>Описание</label>
            <md-textarea v-model="localTask.message">
            </md-textarea>
            <span class="md-error error">Введите описание</span>
          </md-field>
        </md-card-content>
        <md-card-actions>
          <md-button @click="isEditModalShow = false">Отменить</md-button>
          <md-button @click="saveTask">Сохранить</md-button>
        </md-card-actions>
      </md-card>
    </md-dialog>
  </section>
  <section v-else>
    <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
  </section>
</template>

<script>

export default {
  name: 'Task',
  props: {
    id: [String, Number],
  },
  data() {
    return {
      isEditModalShow: false,
      status: {
        done: 'Выполнено',
        active: 'В работе',
        overdue: 'Просрочено',
      },
      task:null,
      localTask: {
      },
      error:false,
      errorMes: '',
    };
  },
  methods: {
    showEditModal() {
      this.isEditModalShow = true;
      this.localTask = {...this.task};
    },
    async saveTask() {
      const backup = {...this.task};
      this.isEditModalShow = false;
      this.task = {...this.localTask};
      try {
        this.error = false;
        const { data } = await this.$api.post(`request/edit/${this.id}`, this.task);
        if (data.error) {
          this.error = true;
          this.errorMes = data.message;
          this.task = backup;
        }
      } catch (error) {
        console.error(error);
        this.task = backup;
      }
    }
  },
  async mounted() {
    try {
      const { data } = await this.$api.post(`request/show/${this.id}`);
      if(data.error) {
        await this.$router.push({name: 'TaskList'})
      } else {
        this.task = data.data;

      }
    } catch (error) {
      console.error(error);
    }
  }
};
</script>
<style lang="scss" scoped>
.task {
  &__container {
    padding-top: 16px;
    text-align: left;
    background: none !important;
  }

  &__btn {
    background-color: #37ce7e;
    border-radius: 4px;

    &::v-deep .md-button-content {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      text-transform: none;
    }
  }

  &__text {
    &--done {
      color: #37ce7e;
    }

    &--active {
      color: #4c7397;
    }

    &--overdue {
      color: #db545a;
    }
  }

}
.error {
  color: red;
  background-color: white;
}
</style>
